.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  width: 92.5%;
  margin: 92px auto 0;

}

.gallery__item {
  margin: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}