.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header__logo {
  max-width: 270px;
  height: 70px;
  margin-top: 34px;
}

.header__title {
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100px;
  width: 720px;
  text-align: center;
  margin: 90px auto 0;
}

.header__subtitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  width: 720px;
  text-align: center;
  margin: 32px auto 64px;
}

.header__image {
  width: 80%;
  margin-left: 148px;
  margin-right: 148px;
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    margin-top: 99px;
  }

  .header__image {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 400px) {
  .header__logo {
    max-width: 230px;
    margin-top: 20px;
    object-fit: contain;
  }

  .header__title {
    font-size: 40px;
    line-height: 44px;
    width: 90%;
    margin: 50px auto 0;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 90%;
    margin: 60px auto 40px;
  }
}